os: osx
osx_image: xcode11.2
language: swift

install:
  - ./install_swiftlint.sh

script:
  - xcodebuild build test -project Calculator/Calculator.xcodeproj -scheme "Calculator" -sdk iphonesimulator -destination "platform=iOS Simulator,OS=13.2,name=iPhone 11" ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO
